/**{ border:0;
    background-color:#d9ad77;
}*/

/* pagina principal index Juanfran*/

.Texto{
    color: black;
   align-items: center;
   text-align: center;
   z-index: 2;
   background-color: #d9ad77;
   margin: 0cm;
}
.Imagen{
    display: flex;
    box-sizing: content-box 300 border-box 10;
    justify-content: center;
   background-color: #d9ad77;
}
.catalogo{
    margin-top: 0.5cm;
}

/* pagina quienes somos Victor*/

/* no usar body */
.main{
  
    background: radial-gradient(#f2edd5, #d9ad77,#8b4513);}

/* no usar h1 */

.title{
   
    margin:auto;
    width: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Argentina-programa-Grupo-D/fondo1/warm-autumn-wallpaper-vector.jpg   ); 
    box-shadow: 10px  10px 10px;
}
.fr{
    color: black;
    margin-top: 10px;
    font-weight: bold;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    box-shadow: 10px  10px 10px;
    
}
.fra{
    width: 700px;
    margin: auto;
    color: black;
    font-weight: bold;
    display: inline;
    display: flex;
    justify-content: center;
    font-size: 20px; 
    box-shadow: 10px  10px 10px;
}

.frase{
   background-image: url(/Argentina-programa-Grupo-D/fondo1/warm-autumn-wallpaper-vector.jpg);
      
}
.grid-container{
    width: 900px;
    height: 900px;
    outline: 2px burlywood;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(2 ,1fr);
    margin: auto;
    padding: 10px;
    border-color: #8b4513;
   

}
/* no usar img */
.img-avatares{
    width: 300px;
    height: 300px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(2 ,1fr);
    margin: auto;
    padding: 10px;
    border-radius: 30px 1px;
    
}
/* no usar span */
.nombres{
    font-size: large;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;


}
/* no usar img:hover */
.img-avatares:hover{
    width: 400px;
    height: 400px;
    transition: all 0.5s ease-out;
}

 /* Pagina productos Rocio*/

.Productos{
    display: flex;
    flex-wrap:wrap;
    justify-content: center; 
}
.card {
    margin: 20px;
}
.card-text {
text-decoration: solid;
color: black;
}

/* detalles productos Ema*/
/*body{
    background: #d9ad77;
    color: #423529;
    font-family: cursive;
}*/

.muestra{
    height: 465px;
    width: 321px;
    margin-left: 75px;
    margin-right: 150px;
    border-radius: 50px;
}

.btn{
    background-color: #F2EED8;
    color: #423529;
    padding: 2px 6px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    border: #423529 solid;
}

.btn:hover {
    background-color: #423529;
    color: #F2EED8;
  }

.detalles{
    display: flex;
    flex-direction: row;
    
}

.descripcion{
    margin: 50px;
}

.seccion_principal{
    margin-top: 50px;
    margin-bottom: 75px;
    background: #d9ad77;
    color: #423529;
    font-family: cursive;
}

.nombre{
    font-size: xx-large;
}

.precio{
    font-size: x-large;
}

.texto{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.titulo{
    font-size: x-large;
    border-bottom: solid #F2EED8;
    text-align: center;
    width: 1250px; 
    margin-left: auto;
    margin-right: auto;
}

.nombre_reco{
    font-size: larger;
    margin-top: -3px;
}

.pro_secu_info{
    text-align: center;
}

.cantidad{
    text-align: center;
}

.secu_list{
    display: flex;
    flex-direction: row;
}

.calificacion{
    display: flex;
    flex-wrap: row;
    width: 85px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.precio_reco{
    margin-top: -10px;
}

.bi-star-fill{
    margin: 0%; 
    margin-left: auto;
    margin-right: auto;
}

.sec_reco{
    padding-bottom: 50px;
    background: #d9ad77;
    color: #423529;
    font-family: cursive;
}

.recomendados{
    width: 35%;
    border-radius: 50px;
    border: #423529 solid;
}

/* navbar Melina*/
/* no usar ul ni nav */
.nav{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #d9ad77
}
/* no usar li */
.nav-li{
    float: left;
}
/* no usar li ni a */
.nav-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 380px;
}

/* footer Gema*/
/* no usar * */

    /* usar footer creo que esta bien porque solo vos usas esa reservada */
    footer{
        display: flex;
        flex-direction: column;
        background: #d9ad77;
        color: #423529;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin-top: 70px; 
        gap: 20px;
    }
    
    .listado {
        display: inline-flex;
        gap: 30px;
    }
    .logo {
        max-width: 150px;
        max-height: 150px;
    }
    /* no usar ul */
    .footer-ul {
        
        list-style: none;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    /* no usar a */
    .footer-a {
        color: inherit !important;
        text-decoration: none !important;
    }
    .inline-li {
        display: inline-flex;
        justify-content: flex-end;
        transition: color 0.3s linear;
      
    }
    
    .inline-li:hover{
        color: #bf522a;
    }
    
    .icon {
        max-width: 20px;
        max-height: 20px;
    }
    
    .md-icon {
        max-width: 30px;
        max-height: 30px;   
    }
    
    .ps {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .metodos-pago{
        display: flex;
    }
    
    .btn-color {
      background-color:  #d9c7bb !important;
      color: #423529;
    }
    
    .column-form{
        display: flex;
        flex-direction: column;
    }

    .footer-header{
        display: inline-flex;
        justify-content: space-around;
    }

    .imagenes {
        display: inline-flex;
        justify-content: center;
        gap: 50px;
        
    }
    .imagenes > img{
        
        max-width: 200px;
        max-height:200px;
        overflow: visible; 
    }

    .imagenes > img:hover {
        width: 250px;
        height: 250px;
        transition: all 0.5s ease-out;
    }
    
     .ot1{
        left: 20%;
     }
    
     .ot2 {
        left: 40%;
     }
    
     .ot3 {
        left: 60%;
     }
    
     .ot4 {
        left: 80%;
     }