body{
    background: #d9ad77;
    color: #423529;
    font-family: cursive;

}

.muestra{
    width: 75%;
    margin-left: 50px;
    border-radius: 50px;
    /*border: black solid;*/
}

.btn{
    background-color: #F2EED8;
    color: #423529;
    padding: 2px 6px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    border: #423529 solid;
}

.btn:hover {
    background-color: #423529;
    color: #F2EED8;
  }

.detalles{
    display: flex;
    flex-direction: row;
    
}

.descripcion{
    margin: 50px;
}

.seccion_principal{
    margin-top: 50px;
    margin-bottom: 75px;
}

.nombre{
    font-size: xx-large;
}

.precio{
    font-size: x-large;
}

.texto{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.titulo{
    font-size: x-large;
    border-bottom: solid #F2EED8;
    text-align: center;
    width: 1250px; 
    margin-left: auto;
    margin-right: auto;
}

.nombre_reco{
    font-size: larger;
    margin-top: -3px;
}

.pro_secu_info{
    text-align: center;
}

.cantidad{
    text-align: center;
}

.secu_list{
    display: flex;
    flex-direction: row;
}

.calificacion{
    display: flex;
    flex-wrap: row;
    width: 85px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.precio_reco{
    margin-top: -10px;
}

.bi-star-fill{
    margin: 0%; 
    margin-left: auto;
    margin-right: auto;
}

.sec_reco{
    padding-bottom: 50px;
}

.recomendados{
    width: 35%;
    border-radius: 50px;
    border: #423529 solid;
}